build/
Makefile.coq
Makefile

coq/*.vo
coq/*.vos
coq/*.vok
coq/*.glob
coq/*.aux
coq/*.d
coq/.coq-native/
coq/.coqdeps.d

*.timing
*.timelog
*.beautified

_opam/
_build/
.dune
*.install
*.cmi
*.cmo
*.cmx
*.cmxa
*.cma
*.o
*.a
*.mli.depends
*.ml.depends

*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/