*.vo
*.vos
*.vok
*.glob
*.aux
*.d
.coq-native/
.coqdeps.d

Makefile
Makefile.coq
Makefile.conf
*.timing
*.timelog
*.beautified

_build/
.dune
*.install
*.cmi
*.cmo
*.cmx
*.cmxa
*.cma
*.o
*.a
*.native
*.byte
*.mli.depends
*.ml.depends

_opam/

*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/